*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
}
img{
    max-width: 100%;
}
/* top header  */
.top-header{
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.top-header p{
    color: #FAFAFA;
    margin-block: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.top-header a{
    color: #f5f5f5;
    font-weight: 600;
}

/* navbar  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 90px 10px 90px;
    border-bottom: 1px solid #c4bebe;

    @media (max-width: 779px) {
        margin-inline: auto;
        padding: 20px 20px 20px 20px;
    }
}
.logo{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 3%;
}
.nav-links{
    display: flex;
    gap: 24px;
    list-style: none;

    @media (max-width: 958px) {
        display: none;
        position: absolute;
        position: fixed;
        top: 60px;
        right: 20px;
        flex-direction: column;
        background: linear-gradient(to bottom, #4a4a4a, #8d8484);
        width: 320px;
        height: 300px;
        padding: 20px 0 0 0 ;
        color: #FAFAFA;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
}
.nav-links li{
    @media (max-width: 958px) {
      text-align: left;
      padding: 12px 15px;
    }
}
.nav-links a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

    @media (max-width: 950px) {
        color: #FAFAFA;
        
    }
}
.active{
    border-bottom: 1px solid #000;
}
.nav-links a:hover{
    border-bottom: 1px solid #000;
}
.search-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.search{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 7px 12px 7px 20px; 
    border: 1px solid transparent;

    @media (max-width: 958px) {
        background-color: transparent;
    }

   
}
.search:hover{
    border: 1px solid black;
}
.search input{
    background-color: transparent;
    border: none;
    width: 180px;

     @media (max-width: 658px) {
        display: none;
    }
}
.search input:focus{
    outline: none;
}
.search img{
    width: 25px;
    cursor: pointer;
}
.search-icon2{
    display: none;
}
.icons{
    display: flex;
    gap: 10px;

    @media (max-width: 360px) {
        display: none;
    }
}
.icons img{
    max-width: 100%;
}
.dropbtn img:hover{
    background-color: #24BABA;
    border-radius: 50%;
    filter: invert(100%);
}
.dropbtn2 img{
    background-color: #24BABA;
    border-radius: 50%;
    filter: invert(100%);
}

.bars{
    display: none;

    @media (max-width: 958px) {
        display: block;
        cursor: pointer;
    }
}
.bars img{
    width: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 110px;
  right: 10px;
  background: linear-gradient(to bottom, #4a4a4a, #1a1a1a);
  min-width: 180px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  overflow: hidden;
  /* z-index: 99; */
 
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #000;
}
.dropbtn2{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: #000;
}
.dropdown-content a {
  display: block;
  padding: 12px 16px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-content a:hover {
  background: rgba(255,255,255,0.1);
}

/* Show on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Hero Section */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    border-top: 1px solid #c4bebe;
    margin-inline: auto;
    margin-bottom: 120px;

    @media (max-width: 950px) {
        display: block;
        margin-inline: auto;
        max-width: 95%;   
    }
    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.categroy-body{
    border-right: 1px solid #c4bebe;
    width: 209px;
     @media (max-width: 958px) {
        display: none;
    }
}
.category-list{
    list-style: none;
    /* max-width: 200px; */
    /* margin-right: 30px; */
    /* padding-top: 35px; */
    /* padding-bottom: 45px; */
}
.category-list li{
    padding: 8px 0;
}
.category-list a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;

}
.hero-container{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    margin-inline: auto;
    align-items: center;  
    max-width: 80%;
    margin-top: 35px;
    margin-bottom: 45px;
    border-top: 1px solid #f9dede;
    padding: 40px ;
    
    

    @media (max-width: 950px) {
        
        max-width: 99%;
        margin-inline: auto;

        
    }
    @media (max-width: 480px) {
            display: block;
        }
}    
.hero-content{
    display: block;

    
}
.apple{
    display: flex;
    align-items: center;
    gap: 20px;
}
.apple img{
    width: 40px;
    filter: invert(100%);
}
.apple h4{
    color: #FAFAFA;
}
.voucher{
    font-size: clamp(1.8rem, 10vw, 2.8rem);
    color: #FAFAFA;
    font-family: "Inter", sans-serif;
    margin-top: 30px;
    letter-spacing: 4%;
    max-width: 290px;

    @media (max-width: 900px) {
        max-width: 800px;
    }

}
.shopnow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.shopnow a{
    color: #FAFAFA;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.shopnow img{
    filter: invert(100%);
    width: 30px;
}
.iphone img{
    max-width: 100%;

    @media (max-width: 900px) {
        margin-inline: auto;
    }
}
.flash-sales{
    margin-inline: auto;
    max-width: 1080px;
    margin-bottom: 120px;
    
    @media (max-width: 950px) {
        
    }
    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }
    
}
.th{
    gap: 28px;
}
.day{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.rectangle{
    width: 20px;
    height: 40px;
    background-color: #DB4444;
    border-radius: 4px;
}
.day p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #DB4444;
}
.time{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 930px) {
        flex-direction: column;
        gap: 10px;
        align-items: normal;
    }

    
}
.flash-sales__title{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 4%;
    margin-top: 20px;
}
.flash-sales__timer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.time-content {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-right: 4px;
}

.time-content::after{
  content: ":";
  color: #e57373;
  font-weight: bold;
  margin-left: 8px;
}

.flash-sales__timer span:last-of-type::after {
  content: "";
}

.flash-sales__timer {
  font-size: 14px;
  font-weight: 600;
}
.time-content span{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
    color: #000000;

}
.time-content p{
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;

}
.scroll-button{
    display: flex;
    gap: 10px;

    @media (max-width: 930px) {
        display: none;
    }
}
.scroll-button button{
    border-radius: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.scroll-button button:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transform: translateY(-2px);
    transition: 1s;
    background-color: #25b3ff;
    color: #f5f5f5; 
    /* filter: invert(100%); */
}
.flash-sales__products{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 30px;
    
}
.flash-sales__products::-webkit-scrollbar{
    display: none;
}
.product-card {
  position: relative;
  /* background: #F5F5F5; */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  /* padding: 15px; */
  width: 220px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  flex-shrink: 0;
}
.product-card__discount{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #DB4444;
    color: #FAFAFA;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
}
.img-icons{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 4px;
    flex-direction: column;
}
.btn-add-cart{
    width: 100%;
    background-color: #000;
    color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding: 16px 48px 16px 48px;
    border: 1px solid;
    cursor: pointer;
}
.btn-remove{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.img-icon2{
    position: absolute;
    top: 40px;
    right: 10px;
    border-radius: 50%;
    padding: 4px;
}
.product-image{
    height: 200px;
}

.product-card__discount img{
    max-width: 0%;
    border-radius: 8px;
    margin: 20px 0;
}
.product-card__info{
    margin-top: 10px;
    text-align: left;
    padding: 10px; 
}

.product-card__name{
    font-size: 16px;
    font-weight: 600;
}
.product-card__prices{
    display: flex;
    gap: 10px;
}
.product-card__price--new{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    line-height: 24px;
    color: #DB4444;
}
.product-card__price--old{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: line-through;
    color: gray;
}
.product-card__rating{
    color: #FFAD33;
}
.product-card__rating span{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    /* font-style: SemiBold; */
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.category{
    max-width: 1080px;
    border-top: 1px solid #c4bebe;
    margin-inline: auto;
    margin-bottom: 120px;
    

    @media (max-width: 950px) {
        padding: 20px 20px 20px 20px;
    }
    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.cate-card{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    /* margin-bottom: 100px; */
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 30px;
}
.cate-card::-webkit-scrollbar{
    display: none;
}
.cate-box {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 0.3s ease;
    cursor: pointer;
    flex-shrink: 0;
    }

.cate-box:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transform: translateY(-2px);
    background-color: #DB4444;
    color: #f5f5f5; 
}

.cate-box i {
    font-size: 48px;
    margin-bottom: 10px;
}

.cate-box p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.new-sale{
    max-width: 1080px;
    margin-inline: auto;
    border-top: 1px solid #c4bebe;
    margin-bottom: 50px;

    @media (max-width: 950px) {
        padding: 20px 20px 20px 20px;
    }
    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.sale-button{
    display: flex;
    justify-content: space-between;

     @media (max-width: 720px) {
        display: block;
    }
}
.sale-button button{
    padding: 16px 48px 16px 48px;
    border-radius: 4px;
    background-color: #DB4444;
    color: white;
    border: none;
    cursor: pointer;

   
}
.speaker{
    max-width: 1080px;
    margin-inline: auto;
    margin-bottom: 120px;

    @media (max-width: 950px) {
        display: block;
        max-width: 95%;
        margin-inline: auto;
    }
    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.speaker-container{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    margin-inline: auto;
    align-items: center;
    padding: 90px 60px 90px 60px;
    margin-top: 15px;
    margin-bottom: 25px;

    @media (max-width: 950px) {
        display: block;
    }
}
.speaker-content{
    display: flex;
    justify-content: space-between;

}
.category-content h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 16px;
    line-height: 20%;
    color: #00FF66;
    margin-bottom: 40px;

    
}
.category-content h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: clamp(1.8rem, 10vw, 2.8rem);
    line-height: 60px;
    letter-spacing: 4%;
    color: #FAFAFA;
    margin-bottom: 10px;

    
    @media (max-width: 416px) {
        font-size: 30px;    
        letter-spacing: 1%;   
        line-height: normal; 
    }
}

.category-content .btn1{
    background-color: #00FF66;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    color: #FAFAFA;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    
    
}
.our-product{
    margin-inline: auto;
    max-width: 1080px;
    border-top: 1px solid #c4bebe;
    margin-bottom: 20px;

    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.explore-products{
    display: flex;
    margin-top: 40px;
    overflow: scroll;
    flex-shrink: 0;
    flex-wrap: wrap         ;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 40px;
      justify-content: center;
}
.our-product-card {
  position: relative;
  background: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 220px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  flex-wrap: 4;

}
.product-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.product-button button{
    padding: 16px 48px 16px 48px;
    border-radius: 4px;
    border: none;
    background-color: #DB4444;
    color: #FAFAFA;
    cursor: pointer;
}
.New-arrival{
    max-width: 1080px;
    margin-inline: auto;
    margin-bottom: 120px;

    @media (max-width: 950px) {
        display: block;
        max-width: 95%;
        margin-inline: auto;
    }
    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }

    
}
.New-arrival-title h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: clamp(1.5rem, 10vw, 2.5rem);
}
.New-arrival-post{
    display: grid;
    gap: 10px;

    @media (min-width: 760px) {
        grid-template-columns: 1fr 1fr;
    }
}
.post1{ 
    background-color: #000;
    position: relative;
    display: inline-block;
}
.post1 img{
    width: 100%;
    position: absolute;
    bottom: 0;

    @media (max-width: 760px) {
        position: relative;
    }
}
.post-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.post1 h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: clamp(1.8rem, 7vw, 1.8rem);
    line-height: 24px;
    letter-spacing: 1px;
    color: #FAFAFA;
    margin-bottom: 20px;
}

.post1 p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    max-width: 240px;
    margin-bottom: 20px
}
.post1 a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.post2{
    position: relative;
    display: inline-block;
}
.wrap-post img{
    width: 100%;
}
.wrap-post{
    position: relative;
}
.post2-context{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.post2-context h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: clamp(1.8rem, 7vw, 1.8rem);
    line-height: 24px;
    letter-spacing: 1px;
    color: #FAFAFA;
    margin-bottom: 20px;
}
.post2-context p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    max-width: 240px;
    margin-bottom: 20px
}
.post2-context a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.post-container{
    display: grid;
    
    gap: 10px;

    @media (min-width: 480px) {
        grid-template-columns: 1fr 1fr;
    }

}
.post3{
    position: relative;
    display: inline-block;
    background-color: #000;
    padding: 30px;
    
}
.post3 img{
    width: 100%;
    background-color: #000;
}
.post3-context{
    position: absolute;
    bottom: 40px;
    left: 20px;
}
.post3-context h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: clamp(1.8rem, 7vw, 1.8rem);
    line-height: 24px;
    letter-spacing: 2px;
    color: #FAFAFA;
    margin-bottom: 7px;
}
.post3-context p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    max-width: 240px;
    margin-bottom: 5px
}
.post3-context a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.contact{
    max-width: 1080px;
    margin-inline: auto;
    margin-bottom: 120px;


    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.line-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 40px 20px;
  text-align: center;
  

  @media (max-width: 668px) {
    display: block;
    margin-inline: auto;
    width: fit-content;
    
  }
}
.line-up-content{
    max-width: 260px;
    margin-bottom: 40px;
}
.feature-icon{
  width: 58px;
  height: 58px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}
.feature-icon img{
    filter: invert(100%);
}
.line-up-content h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.line-up-content{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.footer{
    background-color: #000; 
    margin-inline: auto;
    padding: 90px 80px 20px 80px;
    
}
.footer-content{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    @media (max-width: 1030px) {
        flex-wrap: wrap;
        gap: 70px;
        text-align: center;
        justify-content: center;
    }
    
}
.footer-top{
    flex-direction: column;
    align-items: end;
    text-align: left;
}
.footer-top h2{
    font-family: "Inter", sans-serif;   
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3px;
    color: #FAFAFA;
    margin: 0 0 25px 0;
}
.footer-top h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FAFAFA;
    margin: 0 0 25px 0;
}
.footer-top p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin: 0 0 15px 0;
}
.email-section{
    display: flex;
    gap: 10px;
    border: 1px solid #FAFAFA;
    background-color: #000;
    padding: 10px;
}
.email-section input{
    border: none;
    background-color: transparent;
    color: white;
}
.email-section input:focus{
    outline: none;
}
.email-section button{
    border: none;
    cursor: pointer;
    background-color: #000;
}
.email-section button img{
    filter: invert(100%);
}
.support-section h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FAFAFA;
    margin: 0 0 25px 0;
}
.support-section address{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA; 
    max-width: 200px;
}
.move{
    margin: 0 0 25px 0;
}
.support-section a{
    display: block;
    text-decoration: none;
    color: #FAFAFA;
    margin: 0 0 25px 0;
}
.support-section a:hover{
    text-decoration: underline;
}
.account-section{
    color: #FAFAFA;
}
.account-section h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FAFAFA;
    margin: 0 0 25px 0;
}
.account-section ul{
    list-style: none;
}
.account-section li{
    margin: 0 0 23px 0;
}
.account-section a{
    text-decoration: none;
    color: #FAFAFA;
    margin: 0 0 25px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
}
.account-section a:hover{
    text-decoration: underline;
}
.quick-section{
    color: #FAFAFA;
}
.quick-section h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FAFAFA;
    margin: 0 0 25px 0;
}
.quick-section ul{
    list-style: none;
}
.quick-section li{
    margin: 0 0 23px 0;
}
.quick-section a{
    text-decoration: none;
    color: #FAFAFA;
    margin: 0 0 25px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
}
.quick-section a:hover{
    text-decoration: underline;
}
.Download-section{
    max-width: 250px;
}
.Download-section h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FAFAFA;
    margin: 0 0 25px 0;
}
.Download-section p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FAFAFA;
    margin: 0 0 10px 0;
}
.app-link{
    display: flex;
    gap: 10px;
    margin: 0 0 25px 0;
}
.app-link img{
    filter: invert(100%);
}
.store-buttons img{
    filter: invert(100%);
}
.social-icon{
    display: flex;
    gap: 20px; 
}
.social-icon img{
    filter: invert(100%);
}
.playstore{
    border: 1px solid #FAFAFA;
    padding: 20px;
}

.required{
    color: #DB4444;
}

.search-background{
    backdrop-filter: blur(10px);
    position: fixed;
    inset: 0;
    display: none;

}
.search-type-area{
    background-color: black;
    margin-inline: auto;
    width: 80%;
    margin-top: 50px;
    border-radius: 4px;

}
.search-border{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    border-bottom: 1px solid #c4bebe;
    padding: 20px 40px 40px 40px;
}
.search-border button{
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    background-color: transparent;
    color: #ddd;
    border: 1px solid #364153;
    cursor: pointer;

}
.search-type-area input{
    border: none;
    width: 60%;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    color: #FAFAFA;
    

}
.search-type-area input:focus{
    outline: none;
}
.ham-nav{
    /* display: none; */
    position: fixed;
    top: 120px;
    right: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: #000;
    min-width: 180px;
    overflow: hidden;
    height: 300px;
    z-index: 99;

}
.nav-dropdown{
    position: relative;
    display: inline-block;
    padding: 30px;
    
}
.nav-dropdown ul{
    list-style: none;
    
}
.nav-dropdown li{
    padding: 15px;
}
.nav-dropdown a{
    text-decoration: none;
    color: #c4bebe;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.visible{
    display: none;
}