.wishlist{
    max-width: 1080px;
    margin-inline: auto;
    margin-bottom: 120px;
    margin-top: 70px;


    @media (max-width: 1030px){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.wishlist-header{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}
.wishlist-header h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.btn-move-all{
    padding: 16px 48px 16px 48px;
    border-radius: 4px;
    border: 1px solid;
    background-color: transparent;
    cursor: pointer;
    color: #000;
}
.btn-move-all:hover{
    background-color: #DB4444;
    border: 1px solid transparent;
    color: white;
}